@page "/advice"
@using QuickMed.BaseComponent
@using QuickMed.DB
@inherits BaseAdvice

<h3 class="text-success"> <i class="dripicons-document"></i> &nbsp;&nbsp;  Advice Form</h3>



<div class="col-lg-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row mb-2">
                        <div class="col-sm-12 d-flex">
                            <label for="example-text-input" class="col-sm-1 form-label  mb-lg-0">Template Name</label>
                            <div class="col-sm-4">
                                <input class="form-control form-control-sm" type="text" id="example-text-input" @bind-value=adviceTemplate.AdviceTemplateName>
                            </div>

                        </div>
                    </div>
                    <hr style="border-top: 1px dashed red;" />
                    <div class="row">
                        <div class="col-sm-3">
                            <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                <option selected disabled>Select Advice</option>
                                @if (templateListData != null)
                                {
                                    @foreach (var item in templateListData)
                                    {
                                        <option value="@item.Id">@item.AdviceTemplateName</option>
                                    }
                                }
                                
                            </select>
                        </div>
                    </div>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                    <div class="table-responsive">
                        <table id="mainTable-advice" class="table table-striped  mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Profit</th>
                                    <th>Fun</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Car</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Bike</td>
                                    <td>330</td>
                                    <td>240</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Plane</td>
                                    <td>430</td>
                                    <td>540</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Yacht</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Segway</td>
                                    <td>330</td>
                                    <td>240</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="float-right">
                        <button id="but_add" class="btn btn-primary btn-sm"  >Add New Row</button>
                    </span><!--end table-->


                    <hr />
                    <span class="float-right">
                        <button  class="btn btn-success btn-sm float-end">Save</button>
                    </span>

                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!-- end col -->


    </div> <!-- end row -->


</div><!--end col-->

<h3 class="text-primary"> <i class="dripicons-view-list"></i> &nbsp;&nbsp;  Advice List</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <div class="table-responsive browser_users">
                    <table class="table mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-top-0">Channel</th>
                                <th class="border-top-0">Action</th>
                            </tr><!--end tr-->
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="" class="text-primary">Organic search</a></td>
                                <td class="float-end">
                                    <small class="text-muted">
                                        <button class="btn btn-soft-success btn-sm">
                                            <i class="dripicons-pencil"></i>
                                        </button>
                                        <button class="btn btn-soft-danger btn-sm">
                                            <i class="dripicons-trash"></i>
                                        </button>

                                    </small>
                                </td>
                            </tr><!--end tr-->

                        </tbody>
                    </table> <!--end table-->
                </div><!--end /div-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->


</div><!--end row-->





