@page "/mixTemp"
@using QuickMed.BaseComponent
@inherits BaseMixTemp

@*<h4 class="text-success"> <i class="dripicons-document"></i> &nbsp;&nbsp;  Mix Mediciation</h4>*@
<div class="col-lg-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-warning ">
                    <h4 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Mix Mediciation</h4>
                </div><!--end card-header-->
                <div class="card-header">
                    <div class="row mb-2">
                        <div class="col-sm-12 d-flex">
                            <label for="example-text-input" class="col-sm-1 form-label  mb-lg-0">Template Name</label>
                            <div class="col-sm-4">
                                <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                            </div>

                        </div>
                    </div>
                </div>
                <!--end card-header-->
                <div class="card-body">
                    <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                    <!--<div class="table-responsive">
                        <table class="table  table-bordered table-sm" id="makeEditable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Brand</th>
                                    <th>Dose</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Tab. Napa Extend</td>
                                    <td>1 + 0 + 1</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <span class="float-right">
                        <button id="but_add" class="btn btn-primary btn-sm">Add New Row</button>
                    </span>--><!--end table-->
                    <div class="table-responsive">
                        <table class="table  table-bordered table-sm" id="MixTempTbl">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Dose</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr name="bogichogi">
                                    <td>
                                    </td>
                                    <td class="text-center text-blue">No data Available</td>
                                    <td name="buttons" class="text-center text-blue"></td>
                                    <td Dose="buttons" class="text-center text-blue"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <span class="float-right">
                        <button id="add_MixTemp" class="btn btn-primary btn-sm">Add New Row</button>
                    </span><!--end table-->


                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;Patient Information</h4>
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-3 row">

                                                <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Dose</label>
                                                <div class="col-sm-2">
                                                    <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                                </div>

                                                <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Duration</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select form-select-sm" aria-label="Default select example">
                                                        <option selected>Select</option>
                                                        <option value="1">M</option>
                                                        <option value="2">F</option>
                                                        <option value="3">O</option>
                                                    </select>
                                                </div>

                                                <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Total Qty</label>
                                                <div class="col-sm-2">
                                                    <input class="form-control form-control-sm" type="number" value="" id="example-text-input">
                                                </div>


                                                <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Instruction</label>
                                                <div class="col-sm-2">
                                                    <select class="form-select form-select-sm" aria-label="Default select example">
                                                        <option selected>Select</option>
                                                        <option value="1">M</option>
                                                        <option value="2">F</option>
                                                        <option value="3">O</option>
                                                    </select>
                                                </div>


                                            </div>
                                            <div class="row mb-3">
                                                <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Notes</label>
                                                <div class="col-sm-5">
                                                    <textarea id="textarea" class="form-control" maxlength="225" rows="3" placeholder="This textarea has a limit of 225 chars." spellcheck="false" data-ms-editor="true"></textarea>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div>




                    <span class="float-right">
                        <button id="but_add" class="btn btn-success btn-sm float-end">Save</button>
                    </span>

                </div><!--end card-body-->
            </div><!--end card-->
        </div> <!-- end col -->


    </div> <!-- end row -->
    

</div><!--end col-->


@*<h4 class="text-primary"> <i class="dripicons-view-list"></i> &nbsp;&nbsp;  Mix Mediciation List</h4>*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-warning ">
                <h4 class="card-title text-light"> <i class="dripicons-view-list"></i> &nbsp;&nbsp;Mix Mediciation List</h4>
            </div><!--end card-header-->
            <div class="card-body">
                <table id="datatable-doseTemp" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="border-top-0">Name</th>
                            <th class="border-top-0 text-end">Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        <tr>
                            <td>2C</td>
                            <td class="text-end"> <i class="dripicons-pencil btn btn-soft-primary"></i><i class="dripicons-trash btn btn-soft-danger"></i></td>
                        </tr><!--end tr-->

                        <tr>
                            <td>2C</td>
                            <td class="text-end"> <i class="dripicons-pencil btn btn-soft-primary"></i><i class="dripicons-trash btn btn-soft-danger"></i></td>
                        </tr><!--end tr-->

                        <tr>
                            <td>2C</td>
                            <td class="text-end"> <i class="dripicons-pencil btn btn-soft-primary"></i><i class="dripicons-trash btn btn-soft-danger"></i></td>
                        </tr><!--end tr-->

                        <tr>
                            <td>2C</td>
                            <td class="text-end"> <i class="dripicons-pencil btn btn-soft-primary"></i><i class="dripicons-trash btn btn-soft-danger"></i></td>
                        </tr><!--end tr-->



                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->