@page "/referTemp"
@using QuickMed.BaseComponent
@inherits BaseRefferenceTemp

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-info d-flex justify-content-between">
                <div>
                    <h4 class="card-title  text-light fw-bold">
                        <i class="dripicons-information"></i>&nbsp;&nbsp;Reference Form
                    </h4>
                </div>
            </div>

            <div class="card-header">
                <div class="row mb-2 bg-light py-3">
                    <div class="col-sm-12 d-flex">
                        <label for="example-text-input" class="col-sm-2 form-label  mb-lg-0 me-3 fw-bold">Template Name  </label>
                        <div class="col-sm-6">
                            <input class="form-control form-control-sm border-dark" type="text" id="TempName"  @bind-value=tblReffer.Name >
                        </div>

                    </div>
                </div>
                <hr style="border-top: 1px dashed red;" />
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div style="min-height:350px; min-width:100%" id="editors"></div>
                </div>


                <hr />
                <span class="float-right">
                    <button class="btn btn-success btn-sm float-end" @onclick="OnSaveBtnClick">Save</button>
                </span>
            </div>


        </div><!--end card-->

    </div> <!-- end col -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-info d-flex justify-content-between">
                <div>
                    <h4 class="card-title  text-light fw-bold">
                        <i class="dripicons-information"></i>&nbsp;&nbsp;Reference Template List
                    </h4>
                </div>
            </div>

            <div class="card-body">

                <table id="datatable-reffTemp" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Name</th>
                            <th class="border-top-0 text-end">Action</th>
                        </tr>
                    </thead>


                    <tbody>                     

                    </tbody>
                </table>
            </div>


        </div><!--end card-->

    </div> <!-- end col -->

</div> <!-- end row     -->

