@inherits LayoutComponentBase
@using QuickMed.ViewModels
@using System.Text.Json
@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string currentPage;

    protected override async Task OnInitializedAsync()
    {
        // Track the current page
        currentPage = Navigation.Uri;

        // Conditionally invoke the JavaScript function only if the current page is not the "counter" page
        if (

            !currentPage.Contains("/dashboard")
            && !currentPage.Contains("/prescription")
            && !currentPage.Contains("/prescription-list")
            && !currentPage.Contains("/treatment")
            && !currentPage.Contains("/favourite")
            && !currentPage.Contains("/refer")
            && !currentPage.Contains("/advice")
            && !currentPage.Contains("/ix")
            && !currentPage.Contains("/dose")
            && !currentPage.Contains("/duration")
            && !currentPage.Contains("/dx")
            && !currentPage.Contains("/cc")
            && !currentPage.Contains("/mix")
            && !currentPage.Contains("/note")
            && !currentPage.Contains("/appoinment")
            && !currentPage.Contains("/databaseTool")
            && !currentPage.Contains("/checkUpgrade")
            && !currentPage.Contains("/drug")



        )
        {
            await JS.InvokeVoidAsync("clearLocalStorage");
            await JS.InvokeVoidAsync("LoadPage", "11");
        }

        
       
    }
}
