@inherits LayoutComponentBase
@using QuickMed.ViewModels
@using System.Text.Json
@inject IJSRuntime JS


<div class="page">
    

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    // private List<MenuItem> menuData = new List<MenuItem>
    // {
    //     new MenuItem
    //     {
    //         Name = "Fuckers",
    //         Icon = "ti-smart-home",
    //         Link = "javascript:void(0)",
    //         SubMenu = new List<MenuItem>
    //         {
    //             new MenuItem { Name = "Analytics", Link = "index.html", Icon = "ti-chart-pie-2" },
    //             new MenuItem { Name = "CRM", Link = "dashboards-crm.html", Icon = "ti-3d-cube-sphere" },
    //             new MenuItem { Name = "eCommerce", Link = "dashboards-ecommerce.html", Icon = "ti-atom-2" }
    //         }
    //     }
    //     // Add more items as needed
    // };
    protected override async Task OnInitializedAsync()
    {
        // Convert the C# menu data to JSON
        // var menuJson = JsonSerializer.Serialize(menuData);

        // Pass the JSON data to JavaScript to render the menu
        await JS.InvokeVoidAsync("LoadPage", "1");
    }


}

<script>


   
    // Call the function with your menu data
    // generateMenu(menuData);

</script>