@inherits LayoutComponentBase

<Header />
<div class="layout-page">
    <div class="content-wrapper">
        <Menus />
        <div class="container-xxl flex-grow-1 container-p-y">
            @Body
        </div>
        <Footer />
        <div class="content-backdrop fade"></div>
    </div>
</div>
