@inherits LayoutComponentBase
@using QuickMed.ViewModels
@using System.Text.Json
@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string currentPage;

    protected override async Task OnInitializedAsync()
    {
        // Track the current page
        currentPage = Navigation.Uri;

        // Conditionally invoke the JavaScript function only if the current page is not the "counter" page
        if (

            !currentPage.Contains("/dashboard")
            && !currentPage.Contains("/prescription")
            && !currentPage.Contains("/prescriptionTemp")
            && !currentPage.Contains("/prescription-list")
            && !currentPage.Contains("/treatmentTemp")
            && !currentPage.Contains("/favouriteTemp")
            && !currentPage.Contains("/referTemp")
            && !currentPage.Contains("/advice")
            && !currentPage.Contains("/ixTemp")
            && !currentPage.Contains("/doseTemp")
            && !currentPage.Contains("/durationTemp")
            && !currentPage.Contains("/dxTemp")
            && !currentPage.Contains("/ccTemp")
            && !currentPage.Contains("/mixTemp")
            && !currentPage.Contains("/noteTemp")
            && !currentPage.Contains("/appoinment")
            && !currentPage.Contains("/databaseTool")
            && !currentPage.Contains("/checkUpgrade")
            && !currentPage.Contains("/drug")



        )
        {
            await JS.InvokeVoidAsync("clearLocalStorage");
            await JS.InvokeVoidAsync("LoadPage", "11");
        }

        
       
    }
}
