@page "/drug"

<div class="col-lg-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info ">
                    <h4 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Drug</h4>
                </div><!--end card-header-->
                <div class="col-sm-6">
                    <select class="select2  form-control custom-select" aria-label="Default select example" id="brandTempSelect">
                        <option selected disabled>Select Brand </option>

                    </select>
                </div>
            </div><!--end card-->
        </div> <!-- end col -->
    </div> <!-- end row -->

</div><!--end col-->

