@page "/prescription"

<div class="card mb-4">
    <h5 class="card-header">Multi Column with Form Separator</h5>
    <form class="card-body">
        <h6>1. Account Details</h6>
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label" for="multicol-username">Username</label>
                <input type="text" id="multicol-username" class="form-control" placeholder="john.doe" />
            </div>
            <div class="col-md-6">
                <label class="form-label" for="multicol-email">Email</label>
                <div class="input-group input-group-merge">
                    <input type="text"
                           id="multicol-email"
                           class="form-control"
                           placeholder="john.doe"
                           aria-label="john.doe"
                           aria-describedby="multicol-email2" />
                    <span class="input-group-text" id="multicol-email2">xample.com</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-password-toggle">
                    <label class="form-label" for="multicol-password">Password</label>
                    <div class="input-group input-group-merge">
                        <input type="password"
                               id="multicol-password"
                               class="form-control"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="multicol-password2" />
                        <span class="input-group-text cursor-pointer" id="multicol-password2">
                            <i class="ti ti-eye-off"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-password-toggle">
                    <label class="form-label" for="multicol-confirm-password">Confirm Password</label>
                    <div class="input-group input-group-merge">
                        <input type="password"
                               id="multicol-confirm-password"
                               class="form-control"
                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                               aria-describedby="multicol-confirm-password2" />
                        <span class="input-group-text cursor-pointer" id="multicol-confirm-password2">
                            <i class="ti ti-eye-off"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 mx-n4" />
        
        <div class="pt-4">
            <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
            <button type="reset" class="btn btn-label-secondary">Cancel</button>
        </div>
    </form>
</div>