@page "/prescription"

@using QuickMed.BaseComponent
@inherits BasePrescription


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header  bg-warning">
                <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Patient Information</h3>
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="mb-3 row">

                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Name</label>
                            <div class="col-sm-3">
                                <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                            </div>
                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Age</label>
                            <div class="col-sm-1">
                                <input class="form-control form-control-sm" type="number" value="" id="example-text-input">
                            </div>
                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Sex</label>
                            <div class="col-sm-1">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>Select</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Address</label>
                            <div class="col-sm-3">
                                <input class="form-control form-select-sm" type="text" value="" id="example-text-input">
                            </div>

                        </div>

                        <div class="mb-3 row">

                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Mobile</label>
                            <div class="col-sm-3">
                                <input class="form-control form-select-sm" type="text" value="" id="example-text-input">
                            </div>
                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Reg No.</label>
                            <div class="col-sm-1">
                                <input class="form-control form-select-sm" type="number" value="" id="example-text-input">
                            </div>
                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Wt</label>
                            <div class="col-sm-1">
                                <input class="form-control form-select-sm" type="number" value="" id="example-text-input">
                            </div>
                            <label for="example-text-input" class="col-sm-1 form-label align-self-center mb-lg-0 text-end">Date</label>
                            <div class="col-sm-3">
                                <input class="form-control form-select-sm" type="date" value="" id="example-text-input">
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="mb-3 row">
                            <div class="col-sm-12 text-end">
                                <button type="button" class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm" title="Preview"><i class="fa fa-expand"></i></button>
                                <button type="button" class="btn btn-outline-success btn-icon-circle btn-icon-circle-sm" title="Save & Print"><i class="fa fa-print"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-icon-circle btn-icon-circle-sm" title="Save & Print Without Header"><i class="far fa-file-alt"></i></button>
                                <button type="button" class="btn btn-outline-primary btn-icon-circle btn-icon-circle-sm" title="Save Only"><i class="far fa-save"></i></button>
                                <button type="button" class="btn btn-outline-warning btn-icon-circle btn-icon-circle-sm" title="Save as Template"><i class="far fa-bookmark"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header  bg-warning">
                        <h4 class="card-title text-light"><i class="dripicons-information"></i> &nbsp;&nbsp;Patient's Other Info'</h4>

                    </div><!--end card-header-->
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingOne">
                                    <button class="accordion-button fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;C/C - Cheif Complaints</h4>
                                    </button>
                                </h5>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingTwo">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;H/O - History Of</h4>
                                    </button>
                                </h5>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingThree">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;M/H Medical History</h4>
                                    </button>
                                </h5>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingThree">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;D/H Drug History</h4>
                                    </button>
                                </h5>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingThree">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;D/X - Differential Diagnosis</h4>
                                    </button>
                                </h5>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingThree">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;O/E - On Examination</h4>
                                    </button>
                                </h5>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingSeven">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;Allergy</h4>
                                    </button>
                                </h5>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h5 class="accordion-header m-0" id="headingEight">
                                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        <h4 class="card-title text-primary"> <i class="dripicons-information"></i> &nbsp;&nbsp;Plan</h4>
                                    </button>
                                </h5>
                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table  table-borde#f1f5fa table-sm" id="Dxtable">
                                                <thead>
                                                    <tr>
                                                        <th>C/C</th>
                                                        <th>Duration</th>
                                                        <th>D/M</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Default</td>
                                                        <td>Defaultson</td>
                                                        <td>def@somemail.com</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <span class="float-right">
                                            <button id="Dxtable_but_add" class="btn btn-success btn-sm">Add New Row</button>
                                        </span><!--end table-->
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div><!--end card-body-->
                </div>
            </div> <!-- end col -->


        </div> <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-warning">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="card-title text-light">
                                    <i class="dripicons-information"></i> &nbsp;&nbsp;English -> বাংলা (Ex. Ami -> আমি)
                                </h3>
                            </div>
                        </div>

                    </div><!--end card-header-->

                    <div class="card-body">
                        <textarea id="textarea" class="form-control mb-3" maxlength="225" rows="3" placeholder="Type in English here. (limit 225 chars)" spellcheck="false" data-ms-editor="true"></textarea>

                        <div class="d-flex justify-content-center mb-3">
                            <button id="but_converter" class="btn btn-success btn-sm">Convert</button>
                            <div class="spinner-border spinner-border-custom-2 text-primary" role="status"></div>
                        </div>

                        <textarea id="textarea" class="form-control" maxlength="225" rows="3" placeholder="Result of English text" spellcheck="false" data-ms-editor="true"></textarea>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->




        </div> <!-- end row -->

    </div><!--end col-->

    <div class="col-lg-8">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-warning text-light">
                        <div class="row mb-2">
                            <div class="col-sm-3 text-center">
                                <p style="font-size:20px; font-weight: 700;font-family:Brush Script MT, Brush Script Std, cursive">RX.</p>
                            </div>
                            <div class="col-sm-3">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Drug Template</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                            <div class="col-sm-3">                             

                                <select class="select2W form-control mb-3 custom-select" id="presTreatTempSelect" aria-label="Default select example">
                                    <option selected value="0" disabled>Select Treatment Template</option>
                                    @if (treatmentTemps != null && treatmentTemps.Any())
                                    {
                                        @foreach (var item in treatmentTemps)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    }
                                    
                                </select>

                            </div>
                            <div class="col-sm-3">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Prescription Template</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>

                        </div>
                        <hr style="border-top: 1px dashed #f1f5fa;" />
                        <div class="row">
                            <div class="col-sm-3">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Select Brand</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Select Dose</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Select Instruction</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Select Duration</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>

                            <div class="col-sm-1 text-end">
                                <button class="btn btn-success btn-sm" title="Add"><i class="fas fa-plus"></i></button>

                            </div>
                        </div>

                    </div><!--end card-header-->
                    <div class="card-body">
                        <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                        <div class="table-responsive">
                            <table class="table  table-borde#f1f5fa table-sm" id="makeEditable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Dose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>fucker1</td>
                                        <td>def@somemail.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>fucker2</td>
                                        <td>def@somemail.com</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <span class="float-right">
                            <button id="but_add" class="btn btn-success btn-sm">Add New Row</button>
                        </span><!--end table-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->


        </div> <!-- end row -->

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-warning">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;উপদেশ</h3>
                            </div>

                            <div class="col-sm-8">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Advice Template</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                        </div>


                    </div><!--end card-header-->


                    <div class="card-body">
                        <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                        <div class="table-responsive">
                            <table class="table  table-borde#f1f5fa table-sm" id="makeEditable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Dose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>fucker1</td>
                                        <td>def@somemail.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>fucker2</td>
                                        <td>def@somemail.com</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <span class="float-right">
                            <button id="but_add" class="btn btn-success btn-sm">Add New Row</button>
                        </span><!--end table-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;পরবর্তী সাক্ষাৎ</h3>
                    </div><!--end card-header-->


                    <div class="card-body">
                        <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                        <div class="table-responsive">
                            <table class="table  table-borde#f1f5fa table-sm" id="makeEditable">
                                <thead>
                                    <tr>
                                        <th>পরবর্তী সাক্ষাৎ</th>
                                        <td>
                                            <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                                <option selected disabled>Select Instruction</option>
                                                <option value="1">M</option>
                                                <option value="2">F</option>
                                                <option value="3">O</option>
                                            </select>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>তারিখ</td>
                                        <td>১২/০২/২০২৪</td>
                                    </tr>
                                    <tr>
                                        <td>পেমেন্ট</td>
                                        <td><input type="text" name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>রেফার্ড বাই </td>
                                        <td><input type="text" name="name" value="" /></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->


        </div> <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-warning">
                        <div class="row">
                            <div class="col-sm-3">
                                <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Reffer</h3>
                            </div>

                            <div class="col-sm-8">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Reffer Template</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                        </div>

                    </div><!--end card-header-->

                    <div class="card-body">
                        <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                        <div class="table-responsive">
                            <table class="table  table-borde#f1f5fa table-sm" id="makeEditable">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Report Namer</th>
                                        <th>Result/Value</th>
                                        <th>Unit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12-10-2024</td>
                                        <td>CBC</td>
                                        <td>24</td>
                                        <td>mmol/L</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <span class="float-right">
                            <button id="but_add" class="btn btn-success btn-sm">Add New Row</button>
                        </span><!--end table-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->


        </div> <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-warning">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Reffer</h3>
                            </div>

                            <div class="col-sm-8">
                                <select class="select2 form-control mb-3 custom-select" aria-label="Default select example">
                                    <option selected disabled>Reffer Template</option>
                                    <option value="1">M</option>
                                    <option value="2">F</option>
                                    <option value="3">O</option>
                                </select>
                            </div>
                        </div>


                    </div><!--end card-header-->


                    <div class="card-body">
                        <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                        <div class="table-responsive">
                            <table class="table  table-borde#f1f5fa table-sm" id="makeEditable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Dose</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>fucker1</td>
                                        <td>def@somemail.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>fucker2</td>
                                        <td>def@somemail.com</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <span class="float-right">
                            <button id="but_add" class="btn btn-success btn-sm">Add New Row</button>
                        </span><!--end table-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->



        </div> <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-warning">
                        <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Report Entry</h3>
                    </div><!--end card-header-->

                    <div class="card-body">
                        <!-- <button class="btn  btn-primary btn-sm mb-3" id="submit_data">Submit</button> -->
                        <div class="table-responsive">
                            <table class="table  table-borde#f1f5fa table-sm" id="makeEditable">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Report Namer</th>
                                        <th>Result/Value</th>
                                        <th>Unit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12-10-2024</td>
                                        <td>CBC</td>
                                        <td>24</td>
                                        <td>mmol/L</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <span class="float-right">
                            <button id="but_add" class="btn btn-success btn-sm">Add New Row</button>
                        </span><!--end table-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div> <!-- end col -->


        </div> <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-warning">
                        <h3 class="card-title text-light"> <i class="dripicons-information"></i> &nbsp;&nbsp;Some Other Info</h3>
                    </div><!--end card-header-->


                    <div class="card-body">

                        <!-- Nav tabs -->
                        <div class="nav-tabs-custom text-center">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-center active" data-bs-toggle="tab" href="#cu_bmi" role="tab" aria-selected="false">BMI</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#cu_insulin" role="tab" aria-selected="false">Insulin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#cu_score" role="tab" aria-selected="true">Z-Score</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#cu_bmr" role="tab" aria-selected="true">BMR</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#cu_edd" role="tab" aria-selected="true">EDD</a>
                                </li>

                            </ul>
                        </div>


                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane p-3 active" id="cu_bmi" role="tabpanel">

                                <div class="mb-3 row">

                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Weight</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Height(Ft)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Height(Inch)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">BMI</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Class</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Idle Weight</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-3" id="cu_insulin" role="tabpanel">
                                <div class="mb-3 row">

                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Weight</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Unit/Kg</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Time(Inch)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Total Unit</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Dose</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane p-3" id="cu_score" role="tabpanel">
                                <div class="mb-3 row">

                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Date Of Birth</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Gender</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Weight(Kg)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Result</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Age</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane p-3" id="cu_bmr" role="tabpanel">

                                <div class="mb-3 row">

                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Weight(KG)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Height(Ft)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Height(Inch)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Gender</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Age</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Activity</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">BMR</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Calorie Need</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane p-3" id="cu_edd" role="tabpanel">

                                <div class="mb-3 row">

                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">LMP</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">Gestational Age (LMP)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="example-text-input" class="form-label align-self-center mb-lg-0 text-end">EDD (LMP)</label>
                                        <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
                                    </div>

                                </div>
                            </div>




                        </div> <!--end tab-content-->
                    </div>
                </div><!--end card-->
            </div> <!-- end col -->


        </div> <!-- end row -->




    </div><!--end col-->

</div>

